:root {
    --primary-color: #10141c;
    --secondary-color: #d0d0d0;
    --call-to-action: #006942;
    --cta-text: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10em;
}

h1 {
    margin-top: 14px;
    padding-bottom: 5px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    height: max-content;
}

/* TEMP class */
.TBD{
    font-size: 50px;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.current-link {
    color: var(--cta-text);
    background-color: var(--call-to-action);
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 5px;
    /*
    text-shadow: -2px -2px 0 var(--secondary-color),
        2px -2px 0 var(--secondary-color),
        -2px 2px 0 var(--secondary-color),
        2px 2px 0 var(--secondary-color);
    */
    letter-spacing: 7px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 50px
}